<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.min.css"/>
        <script src="../lib/jquery/dist/jquery.min.js"></script>
        <script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../lib/angular/angular.js"></script>
        <script src="../lib/angular-route/angular-route.js"></script>
    </head>
    <body>
        <div id="navbar" class="navbar" ng-controller="navbarController" ng-cloak>
            <div style="float: left;">
                <a href="sample-shop.html#/">Home</a> :
                <a href="#" id="linkToBookmarkUnminifiedScript">Go Unminified Script</a> :
                <a href="#" id="linkToBookmarkMinifiedScript">Go Minified Script</a> :
                <a href="#" id="linkToBookmarkUnminifiedEval">Go Unminified Eval</a> :
                <a href="#" id="linkToBookmarkMinifiedEval">Go Minified Eval</a>
                <a href="#" id="linkToBookmarkUnminifiedIframe">Go Unminified Iframe</a>
                <a href="#" id="linkToBookmarkMinifiedIframe">Go Minified Iframe</a>
                <a href="#" id="linkToBookmarkMinifiedTab">Go Minified Tab</a>
                <a href="#" id="linkToBookmarkUnminifiedScriptTab">Go Unminified Script Tab</a>
            </div>
            <script>
                var baseUrl = window.location.href.replace(/samples\/sample-shop.html.*$/, '');
                var framedUrl = baseUrl + '/src/boot/framed.js';
                var popupUrl = baseUrl + '/src/boot/popup.js';
                var framedMinifiedUrl = baseUrl + '/src/boot/framed.min.js';
                var popupMinifiedUrl = baseUrl + '/src/boot/popup.min.js';
                var chooseJobUrl = baseUrl + '/samples/choose-job.html';
                var iframeUrlBase = baseUrl + '/src';
                var iframeUrlDelta = '/boot/i.htm';
                var iframeMinifiedUrlDelta = '/boot/im.htm';
                var iframeTabMinifiedUrlDelta = '/boot/tm.htm';

                document.getElementById('linkToBookmarkUnminifiedScript').setAttribute('href', "javascript:(function(d,c,a,u,j,s){s=d.createElement('script');s[a]('src',u+'?'+(new Date()).getTime());s[a](c+'debug',1);s[a](c+'choose-job',j);d.getElementsByTagName('head')[0].appendChild(s);})(document,'data-','setAttribute','" + framedUrl + "','" + chooseJobUrl +"');");
                document.getElementById('linkToBookmarkMinifiedScript').setAttribute('href', "javascript:(function(d,c,a,u,j,s){s=d.createElement('script');s[a]('src',u+'?'+(new Date()).getTime());s[a](c+'debug',1);s[a](c+'choose-job',j);d.getElementsByTagName('head')[0].appendChild(s);})(document,'data-','setAttribute','" + framedMinifiedUrl + "','" + chooseJobUrl +"');");

                document.getElementById('linkToBookmarkUnminifiedEval').setAttribute('href', "javascript:(function(x,u,j,d){x.open('GET', u+'/boot/framed.js?' + (new Date()).getTime(), false); x.send(); eval('(function(){'+x.response+'}).call({cartFillerEval:[u,j,d]});'); })(new XMLHttpRequest(), '" + window.location.href.replace(/samples\/sample-shop.html.*$/, 'src') + "','" + window.location.href.replace(/samples\/sample-shop.html.*$/, 'samples/choose-job.html') + "',1);");
                
                document.getElementById('linkToBookmarkUnminifiedIframe').setAttribute('href', "javascript:(function(d,p,u,v,j,y,x,i){window.addEventListener('message',function(e){if(p.test(x=e.data))eval('(function(){'+x+'}).call({cartFillerEval:[u,j,y]});')},true);i=d.createElement('iframe');d.getElementsByTagName('body')[0].appendChild(i);i.contentWindow.location.href=u+v;})(document,/^\'cartFillerEval\'/,'" + iframeUrlBase +"','" + iframeUrlDelta + "','" + chooseJobUrl + "',1);")
                document.getElementById('linkToBookmarkMinifiedIframe').setAttribute('href', "javascript:(function(d,p,u,v,j,y,x,i){window.addEventListener('message',function(e){if(p.test(x=e.data))eval('(function(){'+x+'}).call({cartFillerEval:[u,j,y]});')},true);i=d.createElement('iframe');d.getElementsByTagName('body')[0].appendChild(i);i.contentWindow.location.href=u+v;})(document,/^\'cartFillerEval\'/,'" + iframeUrlBase +"','" + iframeMinifiedUrlDelta + "','" + chooseJobUrl + "',1);")

                document.getElementById('linkToBookmarkMinifiedTab').setAttribute('href', "javascript:(function(w,u,v,j,y,x,i){(function(w,d){setTimeout(function(){d=w.document;var s=d.createElement('script');s.innerText='(function(u,j,y,x){window.addEventListener(\\'message\\',function(e){if(/^\\\\\\'cartFillerEval\\\\\\'/.test(x=e.data))eval(\\'(function(){\\'+e.data+\\'}).call({cartFillerEval:[u,j,y]});\\')},true);})(\\''+u+'\\',\\''+j+'\\','+y+');';d.getElementsByTagName('head')[0].appendChild(s);i=d.createElement('iframe');d.getElementsByTagName('body')[0].appendChild(i);i.contentWindow.location.href=u+v;},2000);})(w.open(w.location.href));})(window,'" + iframeUrlBase +"','" + iframeMinifiedUrlDelta + "','" + chooseJobUrl + "',1);");

                document.getElementById('linkToBookmarkMinifiedTab').setAttribute('href', "javascript:(function(d,p,u,v,j,y,x,i){window.addEventListener('message',function(e){if(p.test(x=e.data))eval('(function(){'+x+'}).call({cartFillerEval:[u,j,y]});')},true);i=d.createElement('iframe');d.getElementsByTagName('body')[0].appendChild(i);i.contentWindow.location.href=u+v;})(document,/^\'cartFillerEval\'/,'" + iframeUrlBase +"','" + iframeTabMinifiedUrlDelta + "','" + chooseJobUrl + "',1);")


                document.getElementById('linkToBookmarkUnminifiedScriptTab').setAttribute('href', "javascript:(function(d,c,a,u,j,s){s=d.createElement('script');s[a]('src',u+'?'+(new Date()).getTime());s[a](c+'debug',1);s[a](c+'choose-job',j);d.getElementsByTagName('head')[0].appendChild(s);})(document,'data-','setAttribute','" + popupUrl + "','" + chooseJobUrl +"');");
            </script>
            <div style="float: right;">
                My cart: <strong>{{cart.totalItems}}</strong> item(s), <strong>{{cart.totalCost | number : 2}}</strong> USD. <a href="sample-shop.html#/cart">Open Cart</a>
            </div>
        </div>
        <div style="clear: both;">

        </div>
        <div id="container" ng-view>

        </div>
        <div id="views" style="display: none;">
            <div id="indexView">
                <form method="get" action="sample-shop.html#/search">
                    <p>
                        Enter part number:
                    </p>
                    <input type="text" name="partNumber"/>
                    <input type="submit" value="Search"/>
                </form>
            </div>
            <div id="cartView">
                <h2>
                    Your cart
                </h2>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Part Number</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="cartItem in cart.items track by $index">
                            <th>{{cartItem.partNumber}}</th>
                            <th>{{cartItem.name}}</th>
                            <th>{{cartItem.price}}</th>
                            <th>{{cartItem.amount}}</th>
                            <th>{{cartItem.price * cartItem.amount | number : 2}}</th>
                        </tr>
                    </tbody>
                </table>
                <a href="#" onclick="return false;" ng-click="clearCart()" class="btn btn-danger">Remove all items</a>
                <a href="#" onclick="return false;" class="btn btn-success">Check out</a>
            </div>
            <div id="searchView">
                <h2>
                    Search results
                </h2>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Part number</th>
                            <th>Name</th>
                            <th>Delivery days</th>
                            <th>Price</th>
                            <th>Add to cart</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat-start="(rowIndex,row) in searchResults track by $index">
                            <td>{{row.partNumber}}</td>
                            <td>{{row.name}}</td>
                            <td>{{row.deliveryDays}}</td>
                            <td>{{row.price}}</td>
                            <td>
                                <input type="text" ng-model="row.quantity"/>
                                <a href="#" onclick="return false;" ng-click="addToCart(rowIndex)">Add to cart</a>
                            </td>
                        </tr>
                        <tr ng-repeat-end ng-if="row.wasAdded">
                            <td colspan="5"><strong>{{row.wasAdded}}</strong> item{{(row.wasAdded > 1) ? 's were' : ' was'}} added to cart</td>
                        </tr>
                        <tr ng-if="!searchResults.length">
                            <td ng-if="partNumber.length" colspan="5">Nothing found for <strong>{{partNumber}}</strong></td>
                            <td ng-if="!partNumber.length" colspan="5">Empty search request</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            angular
            .module("sampleShopApp", ['ngRoute'])
            .config(function($routeProvider, $locationProvider){

                $routeProvider
                    .when('/cart', {
                        controller: 'cartController',
                        template: document.getElementById('cartView').innerHTML
                    })
                    .when('/', {
                        controller: 'indexController',
                        template: document.getElementById('indexView').innerHTML
                    })
                    .otherwise({
                        controller: 'searchController',
                        template: document.getElementById('searchView').innerHTML
                    })
                    ;
            })
            .controller('indexController', function($scope, $rootScope, $location){
                if (/\?partNumber\=/.test($location.absUrl())){
                    $location.path("/search");
                }
            })
            .controller('navbarController', function($scope, $rootScope){
                if (angular.isUndefined($rootScope.cart)){
                    var stored = localStorage.getItem('sampleShopCart');
                    if (stored){
                        $rootScope.cart = JSON.parse(stored);
                    } else {
                        $rootScope.cart = {};
                        $rootScope.cart.totalItems = 0;
                        $rootScope.cart.totalCost = 0;
                        $rootScope.cart.items = [];
                    }
                }
            })
            .controller('cartController', function($scope, $rootScope){
                $scope.clearCart = function(){
                    $rootScope.cart = {};
                    $rootScope.cart.totalItems = 0;
                    $rootScope.cart.totalCost = 0;
                    $rootScope.cart.items = [];
                    localStorage.setItem('sampleShopCart', JSON.stringify($rootScope.cart));
                }
            })
            .controller('searchController', function($scope, $rootScope, $location){
                $scope.partNumber = /\?partNumber=([^&#]*)/.exec($location.absUrl())[1];
                var db = {
                    '1111111' : [
                        {name: 'Bolt', price: 1.22, deliveryDays: 1},
                        {name: 'Bolt', price: 0.99, deliveryDays: 4}
                    ],
                    '2222222' : [
                        {name: 'Nut', price: 2.59, deliveryDays: 7},
                        {name: 'Nut', price: 2.00, deliveryDays: 1}
                    ],
                    '4444444' : [
                        {name: 'Relay', price: 15.99, deliveryDays: 1}
                    ]
                };
                $scope.searchResults = db[$scope.partNumber];
                if (!angular.isUndefined($scope.searchResults)) {
                    angular.forEach($scope.searchResults, function(result){
                        result.partNumber = $scope.partNumber;
                    });
                }
                $scope.addToCart = function(index){
                    var item = $scope.searchResults[index];
                    var quantity = parseInt(item.quantity);
                    if (quantity > 0){
                        item.wasAdded = quantity;
                        $rootScope.cart.items.push({partNumber: $scope.partNumber, name: item.name, price: item.price, amount: quantity});
                        $rootScope.cart.totalItems += quantity;
                        $rootScope.cart.totalCost += ($scope.searchResults[index].price * $scope.searchResults[index].wasAdded);
                        localStorage.setItem('sampleShopCart', JSON.stringify($rootScope.cart));
                    }
                }
            })
            ;
            angular.bootstrap(document, ["sampleShopApp"]);
        </script>
    </body>
</html>