<!DOCTYPE html>
<html>
<head>
<title>CartFiller</title>
<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script data-main="scripts/main" src="../bower_components/requirejs/require.js"></script>
</head>
<body ng-controller="indexController">
    <div style="text-align: right; z-index: 101; position: relative;">

        <a href="#" class="btn btn-info btn-xs" ng-click="toggleSize()">&lt;-&gt;</a>
        &nbsp;
        <a href="#" class="btn btn-info btn-xs" ng-click="chooseJob()">{{chooseJobState ? 'Cancel' : 'Choose Job'}}</a>
    </div>
    <div ng-if="chooseJobState" id="cartFillerOverlay" style="z-index: 100; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); position: absolute; top: 0px; left: 0px;">

    </div>
    <div>
        <div class="alert" ng-class="jobTaskProgress[jobTaskIndex].complete ? 'alert-success' : 'alert-info'" ng-repeat="(jobTaskIndex, jobTask) in jobDetails track by $index">
            <a href="#" ng-click="toggleTaskProgress(jobTaskIndex)">{{jobTitleMap[jobTask.task] ? jobTitleMap[jobTask.task] : jobTask.task}}</a>
            <div ng-repeat="(propertyName, propertyValue) in jobTask" ng-if="propertyName != 'task'">
                <span>{{jobTitleMap[propertyName] ? jobTitleMap[propertyName] : propertyName}}</span>
                <input type="text" readonly="readonly" onclick="this.select();" value="{{propertyValue}}" ng-click="selectTask(jobTaskIndex)"/>
            </div>
        </div>
    </div>
</body>
</html>
