<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CartFiller</title>
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.min.css"/>
    <script data-main="scripts/main" src="../lib/requirejs/require.js"></script>
</head>
<body ng-controller="indexController">
    <div style="text-align: right; z-index: 101; position: relative;">

        <a href="#" class="btn btn-info btn-xs" ng-click="toggleSize()">&lt;-&gt;</a>
        &nbsp;
        <a href="#" class="btn btn-info btn-xs" ng-click="chooseJob()">{{chooseJobState ? 'Cancel' : 'Choose Job'}}</a>
    </div>
    <div ng-if="chooseJobState" id="cartFillerOverlay" style="z-index: 100; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); position: absolute; top: 0px; left: 0px;">

    </div>
    <div>
        <div class="alert" ng-class="jobTaskProgress[jobTaskIndex].complete ? 'alert-success' : 'alert-danger'" ng-repeat="(jobTaskIndex, jobTask) in jobDetails track by $index" ng-click="toggleTaskProgress(jobTaskIndex)">
            <span>{{jobTitleMap[jobTask.task] ? jobTitleMap[jobTask.task] : jobTask.task}}</span>
            <div ng-repeat="(propertyName, propertyValue) in jobTask" ng-if="propertyName != 'task' && propertyValue.length">
                <span>{{jobTitleMap[propertyName] ? jobTitleMap[propertyName] : propertyName}}</span>
                <input type="text" readonly="readonly" value="{{propertyValue}}" ng-click="selectTaskInput(jobTaskIndex, $event);"/>
            </div>
        </div>
    </div>
</body>
</html>
